<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">
            <p>
                &copy; {{date format="YYYY"}}
                <a href="{{@blog.url}}">{{@blog.title}}</a>. An initiative of <a href="http://lakto.org" title="LAKTO | design &amp; more">LAKTO</a>.
            </p>
        </div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <p>
            With
            <a href="https://ghost.org/">Ghost</a> under the hood and
            <a href="https://github.com/milchkannen/kremo" target="_blank">Kremo</a> on the top. Made with <img src="{{asset 'images/made-with-coffe.png'}}" title="coffee">
        </p>
    </div>
</footer>
