<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo">
            &copy; {{date format="YYYY"}}
            <a href="{{@blog.url}}">{{@blog.title}}</a>. An initiative of <a href="http://lakto.org" title="LAKTO | design &amp; more">LAKTO</a>.
        </div>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li>
                <a href="https://ghost.org/">Ghost</a> under the hood.
            </li>
            <li>
                <a href="https://github.com/milchkannen/kremo" target="_blank">Kremo</a> on top.
            </li>
            <li>
                Made with <img src="{{asset 'images/made-with-coffe.png'}}" title="coffee" alt="coffee">
            </li>
        </ul>
    </div>
</footer>
