{{! Put your menu content here or make this file empty in order to remove the menu }}
{{!
<nav class="menu">
	<div class="menu__wrap">
		<a href="/" class="menu__item menu__item--active">WORK</a>
		<a href="/blog" class="menu__item">NEWS</a>
		<a href="/about" class="menu__item">LABOR</a>
	</div>
</nav>
}}

<div class="large-6 medium-6 small-12 columns cr-hmenu no-sp">
	<ul class="kr-nav-list">
		<li><a href="/"  class="active kr-menu-news">News</a></li>
		<li><a href="/#product/" class="kr-menu-product">Produkt</a></li>
		<li><a href="/#atelier/" class="kr-menu-atelier">Atelier</a></li>
		<li><a href="/#contact/" class="kr-menu-contact">Kontakt</a></li>
	</ul>
</div>
