{{!< default}}
<div id="detail-page">
    {{#post}}
        {{> header}}

        <main id="page" class="mdl-layout__content">
            <div class="portfolio-max-width page-content">
                <div class="title-page post-excerpt">
                    <h2>{{title}}</h2>
                </div>
                <div class="post-content">{{content}}</div>
            </div>
            {{> footer}}
        </main>
    {{/post}}
</div>
