/* main css style for kremo */

* {
    padding: 0;
    margin: 0;
}

body, header, footer, nav, section, span, p, input, select, textarea, ul, li, a {
    text-decoration: none;
    list-style-type: none;
    letter-spacing: 2px;
    line-height: 1.2em;
    color: @ink;
}

a {
    color: @ink;
    &:hover {
        color: darken(@link, 75%);
    }
    .active {
        color: darken(@link, 75%);
        border-bottom: 1px solid @line;
    }
}

p {
  text-align: justify;
  text-justify: inter-word;
  word-wrap: break-word;
  .font-smoothing ();
}


/* header */
header {
    position:fixed;
    height: 90px;
    display:block;
    width: 100%;
    z-index:9;
    text-align:center;
    background-color: @header;
    .box-shadow-bottom();
    overflow: visible;
    top: 0;
    display: none;
    font-family: ubuntu, raleway, awesome, stylus, Verdana, sans-serif;

    a {
    }

    .kr-header {
//        margin: 0 10px;
        height: 80px;
        font-family: stylus;


        .kr-logo {
            margin-left: 39px;
            height: 180px;
            background-size: 81px 180px;
            background-repeat: no-repeat;
            z-index: 4;
        }

        .kr-headline {
            float: left;
            position: relative;
            left: 140px;
            top: -152px;
            padding: 12px;

            .kr-title {

            }
            .kr-description {
                height: 40px;
//                border-bottom: 1px solid fade(@link, 50%);
                text-align: left;
                h1 {
                    font-size: 2em;
                    font-weight: bolder;
                    a {

                        color: @darkblue;
                    }
                }

            }

            .kr-navigation {
                height: 35px;
                text-align: left;
                margin-top: 12px;
                padding: 10px;
                background-color: fade(@white, 25%);
                ul {
                    color: @link;
                    li {
                        display: inline;
                    }
                }
            }
        }
    }
}



/* -------------------------------- */

/* body */

#section0 {
    background: url('../img/cover.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .intro img.coverlogo {
        width: 60%;
        cursor: pointer;
    }

}

.section {
    text-align: center;

    .slide {
        background-size: cover;
        opacity: 0.9;

        /*
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
        */
        .intro {
            background-color: @intro;
            padding: 12px;
            width: 88%;
            a, span {
                color: lighten(@ink, 75%);
            }

            h2 {
                font-weight: bolder;
            }

            p {
                padding: 24px;
            }
        }
    }
}

    /* post */
    body.post-template {
        //overflow: scroll;
        overflow-y: scroll;
    }



    /* page */



    /* tag */

/* -------------------------------- */
/* -------------------------------- */

/* -------------------------------- */

/* footer */





/* -------------------------------- */
