.portfolio {
    position: absolute;
    top: 85.5%;
    top: 85.5vh;
    width: 100%;

    .mdl-layout__content {
        margin-left: auto;
        margin-right: auto;
        display: block;

        .mdl-grid {
            .portfolio-card {
                .mdl-card__media {

                }
                .mdl-card__title {
                    color: $chalk;
                }
                .mdl-card__menu {
                    display: none;
                    .material-icons {
                        color: $chalk;
                    }
                }
            }
        }
    }
    .pagination {
        text-align: center;
        padding: 12px;
    }

}
